.container {
    @extend %clearfix;
    position: relative;
    margin: 0 auto;
  }
  
  .row {
    @extend %clearfix;
    position: relative;
    font-size: 0;
    margin: 0 -15px -30px;
    width: 100%;
  
    &--12-25 {
      @include mq_min($md) {
        margin: 0 -12.5px -25px;
      }
    }
  
    &--35-70 {
      @include mq_min($md) {
        margin: 0 -35px -70px;
      }
    }
  
    &--20-40 {
      @include mq_min($md) {
        margin: 0 -20px -40px;
      }
    }
  
    &--10-0 {
      margin: 0 -10px 0;
      width: inherit !important;
    }
  
    &--center {
      text-align: center;
    }
  
    &--flex {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
  
    &--margin {
      margin-bottom: rem(80);
  
      @include mq_max($sm) {
        margin-bottom: rem(40);
      }
    }
  }
  
  [class*='col-'] {
    display: inline-block;
    vertical-align: top;
    position: relative;
    font-size: 1rem;
    padding: 0 15px;
    margin-bottom: 30px;
  
    .row--12-25 & {
      @include mq_min($md) {
        padding: 0 12.5px;
        margin-bottom: 25px;
      }
    }
  
    .row--35-70 & {
      @include mq_min($md) {
        padding: 0 35px;
        margin-bottom: 70px;
      }
    }
  
    .row--20-40 & {
      @include mq_min($md) {
        padding: 0 20px;
        margin-bottom: 40px;
      }
    }
  
    .row--10-0 & {
      padding: 0 10px;
      margin-bottom: 0;
    }
  }
  
  @include col-generator('xs');
  @include mq_min($xs) {
    @include col-generator('sm');
  }
  
  @include mq_min($sm) {
    @include col-generator('md');
  }
  
  @include mq_min($md) {
    @include col-generator('lg');
  }
  
  @include mq_min($lg) {
    @include col-generator('xlg');
  }
  
  
  .visible-xs {
    @include mq_min($xs) {
      display: none !important;
    }
  }
  
  .visible-sm {
    @include mq_min($sm) {
      display: none !important;
    }
  }
  
  .visible-md {
    @include mq_min($md) {
      display: none !important;
    }
  }
  
  .visible-lg {
    @include mq_min($lg) {
      display: none !important;
    }
  }
  
  .hidden-xs {
    @include mq_max($xs) {
      display: none !important;
    }
  }
  
  .hidden-sm {
    @include mq_max($sm) {
      display: none !important;
    }
  }
  
  .hidden-md {
    @include mq_max($md) {
      display: none !important;
    }
  }
  
  .hidden-lg {
    @include mq_max($lg) {
      display: none !important;
    }
  }
  