.footer{
	background-color: #191919;
	padding: rem(30) 0;
	box-shadow: inset 0  3px 10px 0 rgba(0,0,0,0.2);
	
	&-wrap{
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: row;
		max-width: width(md);
		margin: 0 auto;
		
		@include mq_max($md){
			padding: 0 rem(15);
		}
		
		@include mq_max($xs){
			flex-direction: column;
			align-items: center;
			text-align: center;
		}
	}
	
	
	&-social{
		display: block;
		font-size: 0;
		
		> li{
			position: relative;
			display: inline-flex;
			height: 0;
			width: rem(40);
			padding-top: rem(40);
			background-color: lighten( #191919, 10%);
			margin-right: rem(5);
			transition: all 0.12s ease-in-out;
			
			&:last-child{ margin-right: 0; }
			&:hover{
				background-color: darken( #191919, 5% );
				box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
			}
			
			a{
				display: block;
				font-size: 0;
				position: absolute;
				top: 0;
				right: 0;
				height: 100%;
				width: 100%;
			}
			svg{
				@include centered(true,true);
				overflow: hidden;
				width: 60%;
				height: 60%;
				fill: color(white);
			}
		}
	}
	&-copyright{
		color: color(white);
		
		@include mq_max($xs){
			margin-bottom: rem(15);
		}
		
		> p{
			line-height: 1;
			margin-bottom: rem(4);
			
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
}